<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ data?.recipe?.label?.substring(0, 30) || 'Loading...' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ data?.recipe?.label || 'Loading...' }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="display: flex; flex-direction: column; padding: 1rem;">
    <ion-img *ngIf="data" [src]="data.recipe.image" style="max-width: 250px; align-self: center;"></ion-img>
    <h4>Ingredients</h4>
    <ul>
      <li *ngFor="let ingredient of data?.recipe?.ingredientLines">{{ ingredient }}</li>
    </ul>

    <h4>Nutrition</h4>
    <ul *ngIf="data">
      <li *ngFor="let nutrition of values(data?.recipe?.totalDaily)">
        {{ nutrition.label }} {{ floor(nutrition.quantity) + nutrition.unit }}
      </li>
    </ul>

    <h4>Instructions</h4>
    <a [href]="data?.recipe?.url">Visit {{ data?.recipe?.source }}</a>
  </div>
</ion-content>
